body {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.app-container {
  height: 400px;
  width: 300px;
  background-color: #e6e1d8;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  border-radius: 20%;
}

.temperature-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  position: relative;
}

.temperature-display {
  display: flex;
  border-radius: 50%;
  color: #ffffff;
  height: 220px;
  width: 220px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  border: 3px #ffffff solid;
  transition: background 1s;
  position: relative;
  border-radius: 20%;
}

.temperature-display:before,
.temperature-display:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border-radius: 50%;
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

button {
  border-radius: 100px;
  height: 80px;
  width: 80px;
  font-size: 32px;
  color: #ffffff;
  background: rgb(105, 104, 104);
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:focus {
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.neutral {
  background: rgb(184, 184, 184);
}

.cold {
  background: linear-gradient(to bottom, #3f87a6, #ebf8e1);}

.hot {
  background: linear-gradient(to bottom, #ff8000,#ffd700)
  ;
}
